<div class="col-md-6 col-md-offset-3">
    <h2>Add product</h2>
    <form name="form">
        <div class="form-group">
            <label for="productName">ProductName</label>
            <input type="text" class="form-control" name="productName" [(ngModel)]="product.ProductName" required />
        </div>
        <div class="form-group">
            <label for="productId">ProductId</label>
            <input type="text" class="form-control" name="productId" [(ngModel)]="product.ProductId" required />
        </div>
        <div class="form-group">
            <label for="cost">Cost</label>
            <input type="number" class="form-control" name="cost" [(ngModel)]="product.Cost" required />
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input disabled="!IsActive()" type="text" class="form-control" name="country" [(ngModel)]="product.Country" required />
        </div>
        <div class="form-group">
            <label for="isActive">IsActive</label>
			<select [(ngModel)]="product.IsActive" [ngModelOptions]="{standalone: true}" class="btn btn-default dropdown-toggle">
			    <option>{{true}}</option>
			    <option>{{false}}</option>
			</select>
        </div>
        <div class="form-group">
            <button (click)="Done(product)" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>