<h3>Accounts</h3>
<a [routerLink]="['../userAdd']">Add account</a>
<table class='table' *ngIf="users" >
    <thead>
    <tr class="table-striped">
        <th>Username</th>
        <th>Fullname</th>
        <th>Role</th>
        <th>E-mail</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{ user.userName }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td><button disabled="!IsActive()" class="btn btn-info">Details</button></td>
        <td><button [routerLink]="['../userEdit',user.userName]" class="btn btn-danger">Edit</button></td>
        <td><button (click)="Delete(user.userName)" class="btn btn-primary">Delete</button></td>
    </tr>
    </tbody>
</table>
