<div class="col-md-6 col-md-offset-3">
    <h3>Change Password</h3>
    <form name="form">
        <div class="form-group">
            <label for="password">Old Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="changePasswordModel.OldPassword" required />
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="changePasswordModel.NewPassword" required />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="changePasswordModel.ConfirmPassword" required />
        </div>
        <div class="form-group">
            <button (click)="Change(changePasswordModel)" class="btn btn-primary">Change</button>
        </div>
    </form>
</div>
