﻿<h3>User info</h3>

<div class="row">
    <div class="col-sm-9">
        <div *ngIf="user">
            <p>UserName:<b> {{user.userName}}</b></p>
            <p>FullName:<b> {{user.fullName}}</b></p>
            <p>Role:<b> {{user.role}}</b></p>
            <p>E-mail:<b> {{user.email}}</b></p>
        </div>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-warning btn-margin-5" [routerLink]="['../changePassword']">Change Password</button><br>
    </div>
</div>
