table {
	border-collapse:collapse;
}
tr {
	border:none;
}
th, td {
	border-collapse:collapse;
	border: 1px solid black;
	padding-top:0;
	padding-bottom:0;
}
.verticalSplit {
	border-top:none;
	border-bottom:none;
}
.verticalSplit:first-of-type {
	border-left:none;
}
.verticalSplit:last-of-type {
	border-right:none;
}
.button{
    width: 24px;
    height: 24px;
    cursor:pointer;
    border: none;
    float:right;
    margin-right: 20px;
    margin-bottom: 4px; 
}
.button:active {
  transform: translateY(2px);
}
.button:hover {
	box-shadow: 0 2px #333;
}
.center{
	text-align: center;
}
.coutry-strip{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.open ul.dropdown-menu {
  display: block;
}
.button-compatible{
	cursor:pointer;
  border: none;
  border-collapse:collapse;
	border: 1px solid black;
}
#table-wrapper {
  position:relative;
}
#table-scroll {
  height:60%;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
}
#table-wrapper table * {
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}
#columnList{
  height: 40px;
}