<h3>Compatibility matrix</h3> 
    <input *ngIf="country != ''" type="button" name="button" (click) ="refreshMatrix()" style="background: url(../../image/refresh.png) no-repeat " class="button"/>
    <input *ngIf="country != ''" type="button" name="button" (click) ="saveMatrix()" style="background: url(../../image/save.png) no-repeat " class="button"/>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default" *ngFor="let country of countries">
    <input type="radio" name="options" id="option1" autocomplete="off" (click) ="setCountry(country)" > {{country}}
  </label>
</div>

<form name="form" *ngIf="compatibilityMatrix" >
        <div class="form-group" style="display: inline-block;">
            <input type="text" class="form-control" name="productName" [(ngModel)]="searchText" required style="width: 300px;" placeholder="Search products by id in column"/>
            <button [disabled]="searchText == ''" (click)="Search(searchText)" class="btn btn-primary">Search</button>
        </div>
</form>

<div *ngIf="!isSearch" id="table-wrapper">
  <div id="table-scroll">
        <table class="table table-hover" *ngIf="compatibilityMatrix" >
            <tbody>
                <tr *ngFor="let rawProduct of compatibilityMatrix; let raw = index">    
                    <ng-container *ngFor="let item of rawProduct; let column = index"> 
                        <td type="button" class="button-compatible" (click) ="changeColor(raw,column)" *ngIf="item == '' ">{{ item }}</td>
                        <td class="center" *ngIf="item != '1' && item != '0' && item != '' ">{{ item }}</td> 
                        <td type="button" style="opacity: 0.6" class="button-compatible" (click) ="changeColor(raw,column)" bgcolor="#00FF00" *ngIf="item == '1'"></td> 
                        <td type="button" style="opacity: 0.6" class="button-compatible" (click) ="changeColor(raw,column)" bgcolor="#FF0000" *ngIf="item == '0'"></td> 
                    </ng-container>       
                </tr>
            </tbody>
        </table>
    </div>
</div> 

<div *ngIf="isSearch" id="table-wrapper">
  <div id="table-scroll">
        <table class="table table-hover" *ngIf="compatibilityMatrix" >
            <tbody>
                <ng-container *ngFor="let item of compatibilityMatrix[0]" > 
                    <td id="columnList" class="center" *ngIf="item != '1' && item != '0' && item != ''">{{ item }}</td> 
                </ng-container> 

                <tr *ngFor="let rawProduct of compatibilityMatrix; let raw = index">    
                    <ng-container *ngFor="let item of rawProduct; let column = index"> 
                        <td type="button" class="button-compatible" (click) ="changeColor(raw,column)" *ngIf="item == '' && searchProductList.includes(rawProduct[0])">{{ item }}</td>
                        <td class="center" *ngIf="item != '1' && item != '0' && item != '' && searchProductList.includes(rawProduct[0])">{{ item }}</td> 
                        <td type="button" style="opacity: 0.6" class="button-compatible" (click) ="changeColor(raw,column)" bgcolor="#00FF00" *ngIf="item == '1' && searchProductList.includes(rawProduct[0])"></td> 
                        <td type="button" style="opacity: 0.6" class="button-compatible" (click) ="changeColor(raw,column)" bgcolor="#FF0000" *ngIf="item == '0' && searchProductList.includes(rawProduct[0])"></td> 
                    </ng-container>       
                </tr>
            </tbody>
        </table>
    </div>
</div>



