﻿<!--<h1>Administrator home page</h1> 

<div class="row">
    <div class="col-sm-2" style="padding-top:15px">
        <div>
            <div style="display:inline-block; float:left;">
                <button type="button" class="btn btn-primary btn-margin-5" [routerLink]="['info']">Personal info</button><br>
                <button type="button" class="btn btn-primary btn-margin-5"  [routerLink]="['accounts']">Accounts</button><br>
                <button type="button" class="btn btn-primary btn-margin-5"  [routerLink]="['products']">Products</button><br>
                <button type="button" class="btn btn-primary btn-margin-5"  [routerLink]="['compatibility']">Compatibility Matrix</button>
            </div>
        </div>
    </div>
    <div class="col-sm-10 bs-callout bs-callout-info">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>!-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><a class="active" [routerLink]="['info']">Info</a></li>
    <li><a class="active" [routerLink]="['accounts']">Accounts</a></li>
    <li><a class="active" [routerLink]="['products']">Products</a></li>
    <li><a class="active" [routerLink]="['compatibility']">Compatibility Matrix</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>