﻿<h3>Personal info</h3>
<div class="row">
    <div class="col-sm-10">
        <div *ngIf="admin">
            <p>UserName: <b>{{admin.UserName}}</b></p>
            <p>FullName: <b>{{admin.FullName}}</b></p>
            <p>RoleName: <b>{{admin.RoleName}}</b></p>
            <p>E-mail: <b>{{admin.Email}}</b></p>
        </div>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-warning btn-margin-5" [routerLink]="['../userEdit',admin.UserName]">Edit Info</button><br>
        <button type="button" class="btn btn-warning btn-margin-5" [routerLink]="['../changePassword']">Change Password</button><br>
        
    </div>
</div>
