<div class="container-fluid my-container"  >
  <nav class="navbar navbar-default" style="background-color: #111; border-color: #333;">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="pull-left img-responsive">
              <div class="navbar-brand" [routerLink]="['home']" style="color:lightgray; cursor:pointer;">
                 Matrix Compatibility
              </div>
          </a>
      </div>

      <div class="collapse navbar-collapse" >
          <div *ngIf="!isAuth">
              <ul class="nav navbar-nav navbar-right">
                  <li ><a [routerLink]="['login']" style="color:lightgray; cursor:pointer;"><span class="glyphicon glyphicon-log-in" ></span>Login</a></li>
              </ul>
          </div>
          <div *ngIf="isAuth">
              <ul class="nav navbar-nav navbar-right" >
                  <li ><a (click)="openHomePage()" style="color:lightgray; cursor:pointer;">{{userName}}</a></li>
                  <li ><a (click)="signOut()" style="color:lightgray; cursor:pointer;"><span class="glyphicon glyphicon-log-out"></span>Sign out</a></li>
              </ul>
          </div>
      </div>
  </nav>
</div>

<div class="container-fluid" style="min-height: 500px;">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <!--All inner pages will be loaded here-->
          <router-outlet></router-outlet>
      </div>
  </div>
</div>

<!--<div class="container-fluid my-container" style="position: fixed; bottom: 0; width: 100%;">
  <footer class="panel-footer">
      <div class="row">
          <p class="text-center">(c) N-iX </p>
      </div>
  </footer>
</div>!-->

