.btn-margin-5 {
    margin-top: 5px;
    width: 100%;
  }
  .navigate {
    background-color: #00ffff;
  }
  .navigate a {
    margin-right: 40px;
  }
  .my-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .my-block {
    font-size: 18px;
  }
  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .bs-callout p:last-child {
    margin-bottom: 0;
  }
  .bs-callout code {
    border-radius: 3px;
  }
  .bs-callout + .bs-callout {
    margin-top: -5px;
  }
  .bs-callout-default {
    border-left-color: #777;
  }
  .bs-callout-default h4 {
    color: #777;
  }
  .bs-callout-primary {
    border-left-color: #119410;
  }
  .bs-callout-primary h4 {
    color: #119410;
  }
  .bs-callout-success {
    border-left-color: #5cb85c;
  }
  .bs-callout-success h4 {
    color: #5cb85c;
  }
  .bs-callout-danger {
    border-left-color: #5bc0de;
  }
  .bs-callout-danger h4 {
    color: #00ffff;
  }
  .bs-callout-warning {
    border-left-color: #f0ad4e;
  }
  .bs-callout-warning h4 {
    color: #f0ad4e;
  }
  .bs-callout-info {
    border-left-color: #5bc0de;
  }
  .bs-callout-info h4 {
    color: #5bc0de;
  }
  .left-menu {
    background-color: black;
  }