<h3>Products</h3>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default" *ngFor="let country of countries">
    <input type="radio" name="options" id="option1" autocomplete="off" (click) ="setCountry(country)" > {{country}}
  </label>
</div><br><br>
<table class='table' *ngIf="products" >
    <thead>
    <tr class="table-striped">
        <th>Id</th>
        <th>ProductName</th>
        <th>ProductId</th>
        <th>Cost</th>
        <th>Country</th>
        <th>IsActive</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
        <td>{{ product.Id }}</td>
        <td>{{ product.ProductName }}</td>
        <td>{{ product.ProductId }}</td>
        <td>{{ product.Cost }}</td>
        <td>{{ product.Country }}</td>
        <td>{{ product.IsActive }}</td>
        <td><button disabled="!IsActive()" class="btn btn-primary">Details</button></td>
    </tr>
    </tbody>
</table>
